html, body, #root, .App {
  height: 100%;
}

p, h1 {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1e3928;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Body {
  display: flex;
  flex-grow: 1;
}

.Body > div {
  width: 50%;
}

