.google-maps-marker {
    white-space: nowrap;
    opacity: .5;
    font-size: 1.75vmin;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    line-height: 0vmin;
    padding: .3vmin 1.5vmin;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}