.timezone-container {
    display: flex;
    align-items: baseline;
    overflow-x: hidden;
    flex-flow: wrap;
    justify-content: center;
}

.timezone-container .timezone-card {
    width: 13%;
    padding: .75vmin 2vmin;
    margin: .75vmin;
    background: #8280811a;
}  